<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">

            <p class="text-muted mb-5" style="font-size: 0.9em;">
                GoTalk {{ .VERSION }}<br/>
                &copy; 2023 SpaceTent - All rights reserved.
            </p>

        </div>
    </div>
</div>
</body>
</html>