<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoTalk </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/icons/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-touch-icon-ipad-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-iphone-retina-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-ipad-retina-152x152.png">
    <link rel="stylesheet" href="/static/css/style.css?id={{ .RAND }}">
    <script defer src="/static/js/bootstrap.bundle.min.js"></script>
    <script defer src="/static/js/htmx.min.1.9.5.js"></script>
    <script defer src="/static/js/main.js"></script>
</head>
<body>

