
@font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular'), url('/static/fonts/Gordita Regular.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular Italic'), url('/static/fonts/Gordita Regular Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Thin'), url('/static/fonts/Gordita Thin.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Thin Italic'), url('/static/fonts/Gordita Thin Italic.woff') format('woff');
}


@font-face {
    font-family: '/static/fonts/Gordita Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Light'), url('/static/fonts/Gordita Light.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Light Italic'), url('/static/fonts/Gordita Light Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url('/static/fonts/Gordita Medium.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium Italic'), url('/static/fonts/Gordita Medium Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Bold'), url('/static/fonts/Gordita Bold.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Bold Italic'), url('/static/fonts/Gordita Bold Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Black'), url('/static/fonts/Gordita Black.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Black Italic'), url('Gordita Black Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Ultra'), url('Gordita Ultra.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Ultra Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Ultra Italic'), url('Gordita Ultra Italic.woff') format('woff');
}